    body{
       
        background-color: #FFFFFF;
        padding: 0;
        margin: 0;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: 'Roboto', arial;
    }

/* Navbar Section */

    .navbar-section{
        background-color: #1F2937;
        padding: 10px 200px;
        
    }

    .header-logo img{
        width: 100px;
    }

    a{
        color: #E5E7EB;
        text-decoration: none;
        
    }

    ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    

    .header-links{
        display: flex;
        gap: 16px;
        color: #E5E7EB;
        
    }

/* hero-section */



    h1{
        font-size: 48px;
        font-weight:bolder;
        color: #F9FAF8;
        
    }

    .content-container p{
        font-size: 18px;
        color: #E5E7EB;
        margin-bottom: 10px;
    }

    .content-container{
        display: flex;
        gap: 80px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .content{
        width: 300px;
    }


    img{
        width: 300px;   
    }


    button{
        background-color:#3882F6;
        color:white;
        padding: 5px 30px;
        border-radius: 8px;
    }



    .hero-section{
        text-align: center;
        margin-bottom: 100px;;
    }

  /* information-section */

    
    .information-title{
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
        padding: 20px;
    }

    .information-container{
        display:flex;
        justify-content: center;
        gap: 10px;
       
    }

    .information-container img{
        width: 220px;
        height: 220px;
        border: 4px solid #3882F6;
        border-radius: 15px;
        
    }


    
    .information-container .text{
        font-weight: bolder;
        color: ;
        margin-bottom: 40px;
    }

 /* quote-section */  

.quote-section{
    background-color: #E5E7EB;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.signature{
    padding-bottom: 20px;
    padding-right: 50px;
    font-family: 'Roboto', arial;
    text-align: right;
    margin: 0 80px;

}


.quote-section .text{
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    font: #1F2937;
    padding: 30px 200px;
}

 /* call-to-action-section */  

.call-to-action-section{

    background-color: #3882F6 ;
    margin: 50px 300px;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
    
}

h3{
    color: white;
    padding: 0px;
    margin: 0px;
    
}

.call-container{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}

.call-button button{
   color: white;
   border-color: #fff;
}

.call-container p{
    color: #fff;
    opacity: 0.7;
    margin: 0;
    


}
 /* footer-section */   

 .footer-section{
    background-color: #1F2937;
    color: white;
    padding: 40px
}