    body{
       
        background-color: #FFFFFF;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: 'Roboto', arial;
    }

/* Navbar Section */

    .section1{
        background-color: #1F2937;
        padding: 10px 200px;
        
    }

    .header-logo{
        color:white;                                   
        font-size: 24px;
    }

    a{
        color: #E5E7EB;
        text-decoration: none;
        
    }

    ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    
    }

    .links{
        display: flex;
        gap: 16px;
        color: #E5E7EB;
    }

    .main-text{
        font-size: 48px;
        font-weight:bolder;
        color: #F9FAF8;
        
    }

    .secondary-text{
        font-size: 18px;
        color: #E5E7EB;
        margin-bottom: 10px;
    }

    .content-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .content{
        width: 300px;
    }


    img{
        width: 300px;   
    }




    button{
        background-color:#3882F6;
        color:white;
        padding: 5px 30px;
        border-radius: 8px;
    }

/* section 2 */

    .section2{
        text-align: center;
        margin-bottom: 100px;;
    }

    .information-title{
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
        padding: 20px;
    }

    .information-container{
        display:flex;
        justify-content: center;
        gap: 160px;
    }

    .info{
        
       
    }

    .information-container img{
        width: 200px;
        height: 200px;
        border: 4px solid #3882F6;
        border-radius: 15px;
    }